<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  
  <style>
    
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f9f9f9;
      margin: 0;
      padding: 0;
      color: #333;
    }

    h1 {
      text-align: center;
      font-size: 3.2em;
      color: #FF6347;
      margin-top: 50px;
      padding-bottom: 20px;
      font-weight: bold;
    }

    .main-container {
      padding: 20px;
      text-align: center;
    }

    .intro-text {
      font-size: 1.4em;
      color: #555;
      margin-bottom: 40px;
    }

    .button-container {
      text-align: center;
      margin-top: 40px;
    }

    .view-products-btn {
      background-color: #FF6347;
      color: white;
      padding: 15px 30px;
      font-size: 1.2em;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .view-products-btn:hover {
      background-color: #FF4500;
    }
  </style>
</head>
<body>

  <h1>¡Bienvenido a nuestra tienda!</h1>

  <div class="main-container">
    <p class="intro-text">Explora nuestros productos de calidad. ¡Haz tu compra en línea y recibe tus productos en la comodidad de tu hogar!</p>
    
    <div class="button-container">
      <a href="/products">
        <button class="view-products-btn">Ver Productos</button>
      </a>
    </div>
  </div>

</body>
</html>
